@import "vars";
@import "libs";
@import "fonts";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/project";
@import "blocks/slider";
@import "blocks/skills";
@import "blocks/assurance";
@import "blocks/materials";
@import "blocks/about";
@import "blocks/employee";
@import "blocks/questions";
@import "blocks/consultation";
@import "blocks/footer";

body {
    font-family: 'Geometria Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


ul, ol {
    padding: 0;
    margin: 0px;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
}



.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}



.button {
    border-radius: 5px;
    color: #ffffff;
    font-family: "Geometria Bold", sans-serif;
    font-size: 13px;
    letter-spacing: 0.12px;
    background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
}

