@import "vars";
@import "libs";
@import "fonts";
@import "blocks/_header.scss";
@import "blocks/_intro.scss";
@import "blocks/_section.scss";
@import "blocks/_consultation.scss";
@import "blocks/_form.scss";
@import "blocks/_tabs.scss";
@import "blocks/_exclusive.scss";
@import "blocks/_slider.scss";
@import "blocks/_certificate.scss";
@import "blocks/_about.scss";
@import "blocks/_employee.scss";
@import "blocks/_skills.scss";
@import "blocks/_instruction.scss";

body { 
    font-family: 'Circe Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #001e28;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #001e28;
}

ul, ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
}

input {
    outline: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    font-family: 'Circe Bold';
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    border-radius: 23px;
    background-color: #ffaf02;
}