.about {
	&__inner {
		padding-top: 100px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: -90px;
	}
	&__item {
		padding-bottom: 90px;
		display: flex;
		align-items: center;
		flex-basis: 48%;
	}
	&__item-img {
		img {
			display: block;
		}
	}
	&__item-content {
		margin-left: 50px;
	}
	&__content-title {
		margin-bottom: 30px;
		font-size: 22px;
		font-weight: 700;
	}
	&__content-text {
		font-size: 17px;
		font-weight: 300;
	}
}

@media(max-width: 1200px) {
	.about {
		&__inner {
			padding-top: 80px;
		}
		&__item-content {
			margin-left: 40px;
		}
		&__content-title {
			margin-bottom: 20px;
			font-size: 20px;
		}
		&__content-text {
			font-size: 16px;
		}
	}
}

@media(max-width: 768px) {
	.about {
		&__inner {
			padding-top: 60px;
			margin-bottom: -50px;
		}
		&__item {
			padding-bottom: 50px;
			flex-basis: 100%;
		}
		&__item-content {
			margin-left: 20px;
		}
	}
}

@media(max-width: 480px) {
	.about {
		&__item {
			flex-direction: column;
			text-align: center;
		}
		&__item-img {
			margin-bottom: 10px;
		}
	}
}

