.consultation {
	background-image: url(../img/form-bg.jpg);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	background-position: center;
	&__img {
		display: block;
		max-width: 60%;
		width: 100%;
		margin: 60px auto;
		text-align: center;
	}
}

@media(max-width: 991px) {
	.consultation {
		&__img {
			margin: 40px auto;
		}
	}
}

@media(max-width: 568px) {
	.consultation {
		&__img {
			margin: 30px auto;
		}
	}
}

@media(max-width: 480px) {
	.consultation {
		&__img {
			margin: 20px auto;
		}
	}
}