.questions {
    background-color: #11435b;
    padding: 100px 0px;
    background-image: url(../img/questions-bg.jpg);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover; background-position: center;
    &__title {
        text-align: center;
        padding-bottom: 60px;
        font-size: 30px;
        font-family: "Geometria Bold", sans-serif;
    }
    &__subtitle {
        text-align: center;
        padding-bottom: 70px;
        font-size: 20px;
    }
    &__nav {
        counter-reset: myCounter;
    }
    &__nav-list {
        margin-bottom: 25px;
        list-style: none;
        &:before {
            counter-increment: myCounter;
            content:counter(myCounter);
            color: white;
            display: inline-block;
            border: 1px solid #ffffff;
            border-radius: 50%;
            padding: 7px;
        }
    }
    &__nav-link {
        color: #ffffff;
        padding-left: 20px;
    }
}

@media (max-width: 779px) {
    .questions {
        padding: 50px 0px;
        &__title {
            padding-bottom: 40px;
            font-size: 26px;
        }
        &__subtitle {
            padding-bottom: 50px;
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
    .questions {
        &__nav-list {
            margin-bottom: 15px;
        }
    }
}